.wrapper {
  margin: 20px;
}
.title-container {
  display: flex;
  align-items: center;
  margin: 40px 0 10px 0;
}
.label {
  font-size: 20px;
  margin-right: 8px;
  color: #0d1624;
}

.price-label {
  font-size: 20px;
  margin-right: 8px;
  color: #0d1624;
  font-weight: 500;
}

.title {
  font-size: 25px;
  color: #0d1624;
  margin-right: 10px;
}

.location-container {
  display: flex;

}

.description-container {
  margin: 40px 0 100px 0;
  display: flex;
  flex-direction: column;
}